<template name="propertyCollectionPage">
    {{#if Template.subscriptionsReady}}
    {{> collectionHeader}}
    <div id="configuration">
        <div class="categories_menu col-md-12 no-padding"  id="properties_tabs">
            <div id="preset-filters" class="col-md-3 preset-filters ui-widget-header no-padding">
                <div class="btn-group">
                    <button
                        style="margin: 20px 0px 0px 20px;width: 250px;"
                        class="btn btn-primary btn-block btn-lg dropdown-toggle"
                        data-toggle="dropdown"
                        aria-expanded="false" aria-haspopup="true" >
                        <span style="color:white;">{{_ 'property.add-filter'}} <span style="color:white;" class="caret"></span></span>
                    </button>
                </div>
                <ul style="margin-top: 20px;" id="filters-accordion" class="connectedSortable"></ul>
            </div>
            <div class="col-md-9 ui-widget-content metadata-actions" style="padding-right: 0;">
                <div class="add-property-btn btn-group col-md-12">
                    <button class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" >
                        <span style="color:white;">{{_ 'property.button-property'}} <span style="color:white;" class="caret"></span></span>
                    </button>
                    <ul class="dropdown-menu add-property-dropdown">
                          <li>
                             <!--a  data-toggle="modal" data-target="#meta-<?php echo $type ?>"-->
                             <a class="add-new-property-text" >
                                 <span class="glyphicon glyphicon-pencil"></span>
                                  {{_ 'property.text'}}
                              </a>
                          </li>
                          <li>
                             <!--a  data-toggle="modal" data-target="#meta-<?php echo $type ?>"-->
                             <a >
                                 <span class="glyphicon glyphicon-pencil"></span>
                                  {{_ 'property.text-area'}}
                              </a>
                          </li>
                          <li>
                             <!--a  data-toggle="modal" data-target="#meta-<?php echo $type ?>"-->
                             <a class="add-new-property-object" >
                                 <span class="glyphicon glyphicon-pencil"></span>
                                  {{_ 'property.relationship'}}
                              </a>
                          </li>
                          <li>
                             <!--a  data-toggle="modal" data-target="#meta-<?php echo $type ?>"-->
                             <a class="add-new-property-term">
                                 <span class="glyphicon glyphicon-pencil"></span>
                                  {{_ 'property.categories'}}
                              </a>
                          </li>
                  </ul>
                  <div class="col-md-2 right back-to-collection" style="padding: 0 2% 0 0;">
                      <button onclick="history.back()" id="btn_back_collection" class="btn btn-default pull-right white">{{_ 'property.back-to-collection'}} </button>
                 </div>
              </div>
              <!-- Abas para a Listagem dos metadados -->
              {{#if $.Session.get 'newPropertyOld'}}
                <div style="background: white;"> 
                  {{> Template.dynamic template=getTemplate}}
                </div>  
              {{else}}
                <div style="background: white;">
                    {{#if Template.subscriptionsReady}}
                    <ul class="nav nav-tabs" style="background: white;margin-left: 15px;margin-right: 15px;">
                        {{#each tab in listTabs}}
                        <li  role="presentation" class="active">
                            <a id="click-tab-{{ tab.id}}" href="#tab_default" aria-controls="tab_default" role="tab" data-toggle="tab">
                                <span  class="tab-title">{{ tab.name}} </span>
                                <input class="style-input"
                                       onblur="on_blur_input_title('default')"
                                       onkeyup="on_key_input_title('default',event)"
                                       style="display: none;"
                                       type="text"
                                       key="{{tab.id}}"
                                       value="{{ tab.name}} ">
                            </a>
                        </li>
                        {{/each}}
                        <li id="plus_tab_button" role="presentation">
                            <a style="cursor: pointer;" onclick="add_tab(this)"  role="tab" data-toggle="tab">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </li>
                 </ul>
                 {{/if}}
                </div>
                <div id="tab-content-metadata" class="tab-content" style="background: white">
                    {{#each tab in listTabs}}
                    <div id="tab_{{tab.id}}" class="ui-widget ui-helper-clearfix col-md-12 tab-pane fade in active" style="background: white">
                        <ul id="metadata-container-{{tab.id}}" class="gallery ui-helper-reset ui-helper-clearfix connectedSortable metadata-container">
                           {{#each property in listProperties tab.id}}
                                {{>liProperty property}}
                           {{/each}}
                        </ul>
                        <div id="loader_metadados_page" style="display: none;font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: normal; font-family: Arial;">
                            <center>
                                <img src="'/libraries/images/catalogo_loader_725.gif' ?>">
                                <h4>{{_ 'property.loading'}}</h4>
                           </center>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
        <div class="modal fade" id="modal-property" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                     {{> Template.dynamic template=getTemplate}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>
