<template name="collectionHeader">
    <div class="panel panel-default collection_header" id="collection_post" style="margin-top: 50px;px;margin-bottom: 0px;">
        {{#if Template.subscriptionsReady}}
        <div class="panel-heading collection_header container-fluid collection_header_img"
        style="background-image: {{#with collection.cover}} url({{fileURL getCover}}) {{else}} url({{getCover}}) {{/with}}" >
           <div class="row">
                <!-- TAINACAN: container com o menu da colecao, link para eventos e a busca de items -->
                <div class="col-md-12">
                    <div class="col-md-10">
                        <div class="row same-height">
                            <div class="col-md-2">
                                <div class="relative">
                                    {{#if currentUser}}
                                    <div id="avatar-edit"   class="avatar-edit" style="width: 110%;">
                                          {{#with currentUpload}}
                                            Uploading <b>{{file.name}}</b>:
                                            <span id="progress">{{progress.get}}%</span>
                                          {{else}}
                                                <span class="glyphicon glyphicon-picture show-edit" ></span>
                                                <span>{{_ 'collection.header-collection.change-image'}}</span>
                                               <input id="input-file-thumbnail" type="file" style="z-index: 0;opacity:0.0;height:10px;" accept="image/*">
                                          {{/with}}
                                    </div>
                                    {{/if}}
                                    <a href="" class="collection-thumb">
                                        {{#if Template.subscriptionsReady}}
                                            {{#with hasThumbnail}}
                                                   <img src="{{fileURL getThumbnail }}"  alt="{{getThumbnail.name}}" class="attachment-thumbnail wp-post-image img-responsive" />
                                            {{else}}
                                            <div style="height:150px;width: 110%;" class="attachment-thumbnail wp-post-image tainacan-thumbless">{{getTitleFirstLetter collection.title}}</div>
                                            {{/with}}
                                        {{/if}}
                                    </a>
                                </div>
                            </div>
                            <!-- TAINACAN: div com o titulo e a descricao -->
                            <div class="col-md-12 titulo-colecao">
                                <h3 class="white title">
                                    <a href="<?php echo get_the_permalink($current_collection_id); ?>">
                                        {{collection.title}}
                                    </a>
                                </h3>
                                <div class="collection-description">
                                    {{collection.description}}
                                </div>

                                <div class="collection-author">
                                    {{getOwner}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{>menuCollectionHeader}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-md-12 bg-edit">
                                <button  class="btn btn-default">
                                    <span class="glyphicon glyphicon-picture" ></span>
                                    <span style="z-index:2;position:relative;">{{_ 'collection.header-collection.change-cover'}}</span>
                                    <input id="input-file-cover" type="file" style="z-index: 0;opacity:0.0;position:relative;width:10px;" accept="image/*">
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 pull-right" style="text-align:right;padding:10px 0;"> <!-- compartilhamentos -
                            <!- ******************** TAINACAN: compartilhar colecao (titutlo,imagem e descricao) no FACEBOOK ******************** -
                            <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=<?php echo get_the_permalink($collection_post->ID); ?>&amp;p[images][0]=<?php echo wp_get_attachment_url(get_post_thumbnail_id($collection_post->ID)); ?>&amp;p[title]=<?php echo htmlentities($collection_post->post_title); ?>&amp;p[summary]=<?php echo strip_tags($collection_post->post_content); ?>">
                                <div class="fab"><span data-icon="&#xe021;"></span></div>
                            </a>

                            <!- ******************** TAINACAN: compartilhar colecao (titulo,imagem) no GOOGLE PLUS ******************** -
                            <a target="_blank" href="https://plus.google.com/share?url=<?php echo get_the_permalink($collection_post->ID); ?>">
                                <div class="fab"><span data-icon="&#xe01b;"></span></div>
                            </a>

                            <!- ************************ TAINACAN: compartilhar colecao  no TWITTER ******************** -
                            <a target="_blank" href="https://twitter.com/intent/tweet?url=<?php echo get_the_permalink($collection_post->ID); ?>&amp;text=<?php echo htmlentities($collection_post->post_title); ?>&amp;via=socialdb">
                                <div class="fab"><span data-icon="&#xe005;"></span></div>
                            </a>
                            <!-******************** TAINACAN: RSS da colecao com seus metadados ******************** -
                            <a target="_blank" href="<?php echo site_url() . '/feed_collection/' . $collection_post->post_name ?>">
                                <div class="fab"><span data-icon="&#xe00c;"></span></div>
                            </a>
                            <!- ******************** TAINACAN: exportar CSV os items da colecao que estao filtrados ******************** -
                            <button id="iframebutton" data-container="body" data-toggle="popover" data-placement="left" data-title="URL Iframe" data-content="" data-original-title="" title="Embed URL">
                                <div class="fab"><small><h6><b>Iframe</b></h6></small></div>
                            </button>
                            <a href="#" id="resources_collection_button" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-expanded="false" >
                                <div class="fab">
                                    <div style="font-size:1em; cursor:pointer;" data-icon="&#xe00b;"></div>
                                </div>
                            </a>
                            <ul id="resources_collection_dropdown" class="dropdown-menu" role="menu">
                                <!-li>
                                    <a target="_blank" href="<?php echo get_the_permalink($collection_post->ID) ?>?all.rdf"  ><span class="glyphicon glyphicon-upload"></span> <?php _e('RDF', 'tainacan'); ?>&nbsp;
                                    </a>
                                </li-->
                                <!--li>
                                    <a href="<?php echo site_url() . '/wp-json/posts/' . $collection_post->ID . '/?type=socialdb_collection' ?>"  ><span class="glyphicon glyphicon-upload"></span> <?php _e('JSON', 'tainacan'); ?>&nbsp;
                                    </a>
                                </li-
                                <li>
                                    <a style="cursor: pointer;" onclick="export_selected_objects()"  >
                                        <span class="glyphicon glyphicon-upload"></span>CSV&nbsp;
                                    </a>
                                </li>
                                <!-li>
                                    <a onclick="showGraph('<?php echo get_the_permalink($collection_post->ID) ?>?all.rdf')"  style="cursor: pointer;"   >
                                        <span class="glyphicon glyphicon-upload"></span> <?php _e('Graph', 'tainacan'); ?>&nbsp;
                                    </a>
                                </li-->
                                <!--li>
                                    <a href="<?php echo site_url() ?>/oai/socialdb-oai/?verb=ListRecords&metadataPrefix=oai_dc&set=<?php echo $collection_post->ID ?>"  style="cursor: pointer;"   >
                                        <span class="glyphicon glyphicon-upload"></span> OAI-PMH&nbsp;
                                    </a>
                                </li-
                            </ul>
                            <!- ******************** TAINACAN: Comentarios ******************** -
                            <a style="cursor: pointer;" onclick="showPageCollectionPage()" >
                                <div class="fab"><span style="font-size: medium;" class="glyphicon glyphicon-comment"></span></div>
                            </a -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <div id="tainacan-breadcrumbs" class="config-steps">
        <a href="/"> {{_ 'home'}} </a> >
        <a href="">{{_ 'collection.header-collection.my-collections'}}</a> >
        <a href="/{{collection.slug}}" > <span class="collection-title">{{collection.title}}</span></a> <span class="last-arrow"> </span>
        <div class="current-config" style="display: inline-block;"> </div>
    </div>
</template>
