<template name="createCollection">
    <div class="row" style="margin:10px;">
        <div class="col-md-12">
          <h3>{{_ 'collection.create-collection.title'}}</h3>
          <hr>
        </div>
        <div class="col-md-4" style="border-right:solid 2px #88A6CC">
            <h4>{{_ 'collection.create-collection.title-text'}}</h4>
            <form id="form_new_collection">
                <div >
                      <div class="form-group">
                          <label for="collection_name">{{_ 'collection.create-collection.label-text'}}</label>
                          <input type="text"
                                 required="required"
                                 class="form-control"
                                 name="collection_name" id="collection_name"
                                 placeholder="{{_ 'collection.create-collection.placeholder-text'}}">
                      </div>
                      <button type="submit" class="btn btn-success">{{_ 'collection.create-collection.submit-text'}}</button>
                  </div>
              </form>
        </div>
        <div class="col-md-4">
              <h4>{{_ 'collection.create-collection.title-template'}}</h4>
        </div>
        <div class="col-md-4" style="border-left:solid 2px #88A6CC">
              <h4>{{_ 'collection.create-collection.title-template'}}</h4>
        </div>
    </div>
</template>
